
# Ignoring files for each project

# 01 - Create a server
/01 - Create a server/node_modules

# 02 - ToDo App
/02 - ToDo App/node_modules
/02 - ToDo App/.env

# 03 - Blog App
/03 - Blog App/node_modules
/03 - Blog App/.env

